		<footer id="footer" class="footer">
			<address>
			Blog : <a class="highlighting" title="Développeur Front-End sur Rennes : Bruno Lesieur" href="https://blog.lesieur.name/">https://blog.lesieur.name/</a>
			</address>
			<div class="legend">
				<div>
					Dernière mise à jour : 20 / 02 / 2019
				</div>
			</div>
			<div class="zetetic" id="zetetic">
				<h2>Sources :</h2>
				<ol>
					<li id="source-school">
						<strong>Diplômes / Certifications / Attestations :</strong>
						<ul>
							<li>Collège pour Brevet : <a href="https://blog.lesieur.name/media/images/diplome-brevet.pdf">https://blog.lesieur.name/media/images/diplome-brevet.pdf</a></li>
							<li>Lycée pour BAC S : <a href="https://blog.lesieur.name/media/images/diplome-bac-s.pdf">https://blog.lesieur.name/media/images/diplome-bac-s.pdf</a></li>
							<li>Université Savoie pour BAC+2 : <a href="https://blog.lesieur.name/media/images/diplome-bac-2.pdf">https://blog.lesieur.name/media/images/diplome-bac-2.pdf</a></li>
							<li>Certification CISCO : <a href="https://blog.lesieur.name/media/images/certification-ccna.pdf">https://blog.lesieur.name/media/images/certification-ccna.pdf</a></li>
							<li>École ITIN-ESCIA pour BAC+5 : <a href="https://blog.lesieur.name/media/images/diplome-bac-5.pdf">https://blog.lesieur.name/media/images/diplome-bac-5.pdf</a></li>
							<li>Attestation TOEIC : <a href="https://blog.lesieur.name/media/images/attestation-toeic.pdf">https://blog.lesieur.name/media/images/attestation-toeic.pdf</a></li>
							<li>Niveau Langue Anglais : <a href="http://www.cple-langues.fr/tests-niveau/resultats/graph.aspx?id=ZSyR7-nTD0y-FuPfJM96Xw">http://www.cple-langues.fr/tests-niveau/resultats/graph.aspx?id=ZSyR7-nTD0y-FuPfJM96Xw</a></li>
						</ul>
					</li>
					<li id="source-job">
						<strong>Jobs / Société :</strong>
						<ul>
							<li>Job chez Infovive : <a href="https://blog.lesieur.name/media/images/contrat-infovive.jpg">https://blog.lesieur.name/media/images/contrat-infovive.jpg</a></li>
							<li>Job chez B-Fine Consulting : <a href="https://blog.lesieur.name/media/images/contrat-b-fine.pdf">https://blog.lesieur.name/media/images/contrat-b-fine.pdf</a></li>
							<li>Job chez MediaWelcome : <a href="https://blog.lesieur.name/media/images/contrat-mediawelcome.pdf">https://blog.lesieur.name/media/images/contrat-mediawelcome.pdf</a></li>
							<li>Job chez Knowledge Expert : <a href="https://blog.lesieur.name/media/images/contrat-knowledge-expert.pdf">https://blog.lesieur.name/media/images/contrat-knowledge-expert.pdf</a></li>
							<li>Job chez Orchard ID : <a href="https://github.com/Orchard-ID/Orchard-DocumentsPublics/raw/master/Pdf/presentation-web.pdf">https://github.com/Orchard-ID/Orchard-DocumentsPublics/raw/master/Pdf/presentation-web.pdf</a></li>
							<li>Sociétés Orchard ID : <a href="https://www.societe.com/societe/orchard-id-825371602.html">https://www.societe.com/societe/orchard-id-825371602.html</a></li>
						</ul>
					</li>
					<li id="source-html-css">
						<strong>HTML / CSS :</strong>
						<ul>
							<li>Articles sur HTML : <a href="https://blog.lesieur.name/recherche/?query=html">https://blog.lesieur.name/recherche/?query=html</a></li>
							<li>Articles sur CSS : <a href="https://blog.lesieur.name/recherche/?query=css">https://blog.lesieur.name/recherche/?query=css</a></li>
							<li>Convention HTML / CSS : <a href="https://blog.lesieur.name/conventions-html-css-js-et-architecture-front-end/">https://blog.lesieur.name/conventions-html-css-js-et-architecture-front-end/</a></li>
							<li>Terme Responsive Web Design : <a href="https://blog.lesieur.name/les-concepts-autour-du-responsive-web-design/">https://blog.lesieur.name/les-concepts-autour-du-responsive-web-design/</a></li>
							<li>Avantage mobile first : <a href="https://blog.lesieur.name/version-mobile-et-version-desktop-ca-n-existe-pas/">https://blog.lesieur.name/version-mobile-et-version-desktop-ca-n-existe-pas/</a></li>
							<li>Articles sur Stylus : <a href="https://blog.lesieur.name/recherche/?query=stylus">https://blog.lesieur.name/recherche/?query=stylus</a></li>
							<li>Articles sur Less : <a href="https://blog.lesieur.name/recherche/?query=less">https://blog.lesieur.name/recherche/?query=less</a></li>
							<li>Articles sur Bootstrap : <a href="https://blog.lesieur.name/recherche/?query=bootstrap">https://blog.lesieur.name/recherche/?query=bootstrap</a></li>
						</ul>
					</li>
					<li id="source-javascript">
						<strong>ECMAScript / JavaScript / Node.js :</strong>
						<ul>
							<li>Articles sur JavaScript : <a href="https://blog.lesieur.name/recherche/?query=javascript">https://blog.lesieur.name/recherche/?query=javascript</a></li>
							<li>Articles sur Node.js : <a href="https://blog.lesieur.name/recherche/?query=node.js">https://blog.lesieur.name/recherche/?query=node.js</a></li>
							<li>Guides ECMAScript : <a href="https://blog.lesieur.name/apprendre-et-comprendre-javascript-version-es6/">https://blog.lesieur.name/apprendre-et-comprendre-javascript-version-es6/</a></li>
							<li>NodeAtlas <a href="https://node-atlas.js.org/">https://node-atlas.js.org/</a></li>
							<li>Documentation Vanilla JS : <a href="https://blog.lesieur.name/vanilla-js-france/">https://blog.lesieur.name/vanilla-js-france/</a></li>
							<li>Team documentation Vue.js FR : <a href="https://fr.vuejs.org/v2/guide/team.html#community-partners">https://fr.vuejs.org/v2/guide/team.html#community-partners</a></li>
							<li>Articles sur Vue : <a href="https://blog.lesieur.name/recherche/?query=vue">https://blog.lesieur.name/recherche/?query=vue</a></li>
							<li>Articles sur jQuery : <a href="https://blog.lesieur.name/recherche/?query=jquery">https://blog.lesieur.name/recherche/?query=jquery</a></li>
							<li>Articles sur AngularJS : <a href="https://blog.lesieur.name/recherche/?query=angularjs">https://blog.lesieur.name/recherche/?query=angularjs</a></li>
							<li>Articles sur documentation code : <a href="https://blog.lesieur.name/recherche/?query=jsdoc">https://blog.lesieur.name/recherche/?query=jsdoc</a></li>
						</ul>
					</li>
					<li id="source-code">
						<strong>GitHub / npm :</strong>
						<ul>
							<li>Module npm : <a href="https://www.npmjs.com/~haeresis">https://www.npmjs.com/~haeresis</a></li>
							<li>Projets open-source : <a href="https://github.com/haeresis/">https://github.com/haeresis/</a></li>
							<li>Traductions Vue : <a href="https://github.com/vuejs-fr">https://github.com/vuejs-fr</a></li>
							<li>Projets exemple MongoDB : <a href="https://github.com/Haeresis/BlogAtlas">https://github.com/Haeresis/BlogAtlas</a></li>
						</ul>
					</li>
					<li id="source-image">
						<strong>Visuel :</strong>
						<ul>
							<li>Design Compilation of FFVII : <a href="http://www.compilation-of-ff7.com/">http://www.compilation-of-ff7.com/</a></li>
							<li>Design Com'Ava : <a href="http://www.communaute-avatar.fr/">http://www.communaute-avatar.fr/</a></li>
							<li>Moi en Avatar : <a href="http://www.communaute-avatar.fr/source/squalionheart/haeresis-ikran.jpg">http://www.communaute-avatar.fr/source/squalionheart/haeresis-ikran.jpg</a></li>
						</ul>
					</li>
					<li id="source-php">
						<strong>PHP / SQL :</strong>
						<ul>
							<li>Site Compilation of FFVII : <a href="http://www.compilation-of-ff7.com/">http://www.compilation-of-ff7.com/</a></li>
							<li>Site Com'Ava : <a href="http://www.communaute-avatar.fr/">http://www.communaute-avatar.fr/</a></li>
							<li>Ancien Blog : <a href="http://blog.haeresis.fr/">http://blog.haeresis.fr/</a></li>
							<li>Ancien Portfolio : <a href="http://www.haeresis.fr/">http://www.haeresis.fr/</a></li>
						</ul>
					</li>
					<li id="source-method">
						<strong>Entreprise / Holacratie / Télétravail / Veille :</strong>
						<ul>
							<li>Holacratie pour organisation : <a href="https://labdsurlholacracy.com/bande-dessinee-holacracy">https://labdsurlholacracy.com/bande-dessinee-holacracy</a></li>
							<li>Raison d'être évolutive pour objectif : <a href="http://www.etienneappert.fr/reinventing-organizations/">http://www.etienneappert.fr/reinventing-organizations/</a></li>
							<li>Plénitude pour bien-être : <a href="http://ateliersinstantz.net/">http://ateliersinstantz.net/</a></li>
							<li>GlassFrog pour réunion : <a href="https://www.holaspirit.com/">https://www.holaspirit.com/</a></li>
							<li>Asana pour projets : <a href="https://app.asana.com/">https://app.asana.com/</a></li>
							<li>Trello pour tâches : <a href="https://trello.com/">https://trello.com/</a></li>
							<li>Zoho pour facture : <a href="https://www.zoho.com/">https://www.zoho.com/</a></li>
							<li>Dougs pour compta : <a href="https://www.dougs.fr/">https://www.dougs.fr/</a></li>
							<li>Timelyapp pour temps : <a href="https://www.getharvest.com/">https://www.getharvest.com/</a></li>
							<li>appear.in pour visio : <a href="https://appear.in/">https://appear.in/</a></li>
							<li>Git pour revu/tenu de code : <a href="https://github.com/">https://github.com/</a></li>
							<li>Google Docs pour documentation : <a href="https://gsuite.google.com/index.html">https://gsuite.google.com/index.html</a></li>
							<li>Zététique pour trie d'information : <a href="http://www.zetetique.fr/">http://www.lesieur.name/zetetique/</a></li>
						</ul>
					</li>
				</ol>
			</div>
		</footer>
