		<header id="header" class="header" role="banner">
			<div class="cv"><?- common.header.cv ?></div>
			<div class="title">
				<img width="104" height="104" src="media/image/author.png" alt="<?= common.header.image ?>" />
				<h2><?- common.header.name ?></h2>
				<p><?- common.header.information ?></p>
				<p class="extended">
					<?- common.header.extended ?>
				</p>
				<p class="standard">
					<?- common.header.standard ?>
				</p>
			</div>
			<aside class="vcard">
				<?- common.header.vcard.address ?>
				<br>
				<?- common.header.vcard.email ?>
				<?- common.header.vcard.mobile ?>
			</aside>
			<h1><?- common.header.title ?></h1>
		</header>