<!DOCTYPE html>
<html lang="<?= languageCode ?>">
	<head>
		<meta charset="utf-8" />
		<title><?- common.title ?></title>
		<meta name="description" content="<?= common.description ?>" />

		<!--[if IE]><meta name="viewport" content="width=device-width" /><![endif]-->
		<!--[if !IE]><!--><meta name="viewport" content="initial-scale=1.0" /><!--<![endif]-->

		<base href="<?= urlBasePath ?>" />

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,500">
		<link type="text/css" rel="stylesheet" href="stylesheets/common<?= webconfig._minified ?>.css" media="all" />
	</head>
	<body>
		<noscript>
			<p><?- common.javascriptDisable ?></p>
		</noscript>